:root {
    --primary: #17191cff;
    --secondary: #e63232ff;
    --secondaryDark: #bb090bff;
    --lightWhite: #fff;
    --darkWhite: #f7f7f7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    width: 100vw;
}

body {
    width: 100%;
    color: var(--primary);
    background-color: var(--lightWhite);
}

h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

p {
    font-size: 1rem;
}

em {
    color: var(--secondary);
}

.eyebrow {
    text-transform: uppercase;
    font-size: 0.833rem;
}

.hero__headline {

}

.hero__subheading {
    font-weight: 400;
}